body {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-family: Arial;
    line-height: 25px;
}

h1 {
    font-size: 50px;
    ;
}

h2 {
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    h1, h2 {
        font-size: 20px;
    }
}

.columna {
    padding: 1%;
    border-radius: 20px;
    background-color: bisque;
    float: left;
    margin: 5px;
}

.primaria {
    width: 50%;
}

.secundaria {
    width: 40%;
}

img {
    width: 100%;
}

@media screen and (max-width:800px) {
    .primaria, .secundaria {
        width: 90%;
        float: none;
        margin: 10%;
    }
}

.grande {
    font-size: 30px;
}

@media screen and (max-width: 800px) {
    .grande {
        display: none;
    }
}