/*


*/

.flex-container {
    /*para que sea FELXBOX tiene que tener  display: flex;*/
    display: flex;
    /*nowrap - wrap - wrap-reverse*/
    flex-wrap: wrap-reverse;
    /*row - column - column-reverse*/
    flex-direction: row;
    /*flex-start - flex-end - space-around - center - space-between*/
    justify-content: space-between;
    /* center - stretch - baseline*/
    align-items: stretch;
    /*space-between - center - space-around - flex-start - flex-end*/
    align-content: space-between;
    background-color: antiquewhite;
    padding: 10px;
    border: black 2px solid;
    height: 300px;
}

.flex-container div {
    background-color: aqua;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: black 2px solid;
}