/*

flex-direction:  Para la dirección

flex-wrap: si es necesario saltar

justify-content: para centrado
justify-content: space-between;

align-items: center;
align-items: stretch;
align-items: baseline;

align-content: space-between;
align-content: center;
align-content: space-around;
align-content: flex-start;
align-content: flex-end;

*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    padding: 10px;
    border: black 2px solid;
    height: 500px;
}

.flex-container div {
    background-color: aqua;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: black 2px solid;
}