body {
    width: 800px;
    margin: 0 auto;
    background-image: url("fondo.png");
    background-repeat: round;
}

.col-3 {
    float: left;
    width: 31%;
    height: 100%;
    margin: 3px;
    padding: 3px;
    border: black 2px solid;
}

.col-2 {
    float: left;
    width: 48%;
    height: 100%;
    margin: 3px;
    padding: 3px;
}

.formulario {
    width: 800px;
}

.form-texto {
    float: left;
    width: 33%;
}

a {
    color: red;
    font-family: 'Akronim', cursive;
    text-decoration: none;
    float: left;
    margin: 3px;
    padding: 3px;
    border: black 2px solid;
}

a:hover {
    color: aqua;
}

img {
    width: 100%;
}

footer {
    color: aqua;
}

.titulo-raro {
    font-family: 'Rubik Beastly', cursive;
    font-size: 50px;
}