body{    
    font-family: Helvetica;
    animation-name: animacionDeFondo;
    animation-duration: 5s;    
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

strong{
    color: black;
    padding: 5px;
    background-color: chartreuse;
    animation-name: subrayado;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h1{    
    animation-name: animacionH1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animacionH1{
    0%{
        color: black;
    }
    50%{
        color: grey;
    }
    100%{
        color: white;
    }
}

@keyframes animacionDeFondo{
    from{
        background-color: white;
    }
    to{
        background-color: black;
    }
}

@keyframes subrayado{
    0%{
        background-color: red;
    }
    50%{
        background-color: white;
    }
    100%{
        background-color: red;
    }
}