.icono{
    background-color: salmon;
    background-image: url("img/balde.png");
    background-position-x: center;
    background-position-y: center;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;    
    border-radius: 100%;
    padding: 20px;
}
 
.icono:hover{
    animation-name: cambiarFondo;  
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

 
@keyframes cambiarFondo{
    0%{
        background-color: red;
    }
    20%{
        background-color: royalblue;        
    }
    50%{
        background-color: yellow;
    }
    70%{
        background-color: green;
    }
    100%{
        background-color: magenta;
    }
}

.titulo{
    font-family: Helvetica;
    text-align: center;
    font-size: 30px;
    opacity: 0.0;
}

.titulo:hover{
    animation-name: tituloAparece;  
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes tituloAparece{
    to{
        opacity: 1;
        color: black;
    }
}