body {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.columna {
    background-color: bisque;
    width: 42%;
    float: left;
    padding: 2%;
    margin: 2%;
    border-radius: 20px;
}

img {
    width: 100%;
}